<div class= "container-fluid bg-grey py-5 bg-dark" class="container text-dark">
  <div style="text-align:center;">
    <label>Burgueño Felix Bryan </label>
    <label> (®) Todos los derechos reservados 2022-2</label>
  </div>
</div>


