<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://pngimg.com/uploads/dog/dog_PNG50346.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://c0.klipartz.com/pngpicture/832/238/gratis-png-liso-cachorro-de-perro-salchicha-marron-veterinario-de-entrenamiento-del-perro-mascota-del-perro-salchicha-perro.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://th.bing.com/th/id/R.3e5e0f1c4ed9ad6b7ddebf0a2c3d039e?rik=Nw2e9YRO63vTkg&pid=ImgRaw&r=0&sres=1&sresct=1" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
