<div class="row hero">
  <div class="col-8">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Earum corporis ex error maxime itaque obcaecati accusantium nisi.
      Distinctio sunt enim nemo recusandae,
      non magnam vitae itaque aspernatur deserunt aliquid id!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Excepturi officia unde atque eaque veniam vel vitae.
      Voluptates eligendi maiores qui,
      nostrum recusandae voluptate unde nobis distinctio quisquam, architecto eius et?</p>

  </div>
  <div class="col-3">
    <img src="https://i.pinimg.com/originals/5f/29/b5/5f29b5d042994e7fbf5a1c13980b4b0b.png" alt="#">
  </div>
</div>
