<div class="row">
  <div class="col-4">
    <img src="{{image}}" alt="#" class="img-fluid">
  </div>

  <div class="col-8">
    <h4>{{title}}</h4>
    <p>{{paragraph}}</p>

      <ul *ngFor= "let spec of specs">
        <li>{{spec.altura}}</li> 
        <li>{{spec.recomedaciones}}</li> 
        <li>{{spec.pesoAdulto}}</li> 
        <li>{{spec.climaRecomendado}}</li> 
        <li>{{spec.pelaje}}</li> 
        <li>{{spec.tiempoDeVida}}</li> 

      </ul>
    <a class="btn btn-celu" href= "{{link}}">Aprender +</a>
  </div>

</div>
