.hero {
  margin: 60px 0 60px 0;

}

h4 {
  color: #00aDDD80;
}

.btn-celu {

  color : #fff;
  background-color: #878787;
  border-color: #ADADAD;
  scroll-margin-left : 30px;

}

.btn-celu:hover{
  color : #fff;
  background-color : #00aDDD80;
  border-color : #00adff;
  font-size : 10px;

}

