<div class="row trinity">

  <div class="col-lg-3">
    <img src="{{itemImg1}}" alt="" class="img-fluid">
    <h4>{{itemTitle1}}</h4>
  </div>

  <div class="col-lg-3">
    <img src="{{itemImg2}}" alt="" class="img-fluid">
    <h4>{{itemTitle2}}</h4>
  </div>

  <div class="col-lg-3">
    <img src="{{itemImg3}}" alt="" class="img-fluid">
    <h4>{{itemTitle3}}</h4>
  </div>

  <div class="col-lg-3">
    <img src="{{itemImg4}}" alt="" class="img-fluid">
    <h4>{{itemTitle4}}</h4>
  </div>

</div>
